 .multi_level_select_box {
   width: auto;
   text-align: center;
 }
 .select_wrap_box {
   position: relative;
   display: inline-block;
   width: 150px;
 }
 .fake_select {
   height: 30px;
   line-height: 30px;
   border: 1px solid red;
   width: 100%;
   overflow: hidden;
 }
 .fake_select:hover {
   background-color: pink;
   cursor: pointer;
 }
 .select_text_area{
   width: 120px;
   overflow: hidden;
   text-overflow: ellipsis;
white-space: nowrap;
position: relative;
display: inline-block;
position: absolute;
left: 0;
top: 0;
 }

 .fake_arrow {
   position: absolute;
   width: 28px;
   height: 28px;
   right: 0;
   top: 2px;
 }
 .multi_level_select_box ul {
   position: absolute;
   top: 20px;
   left: 0;
   display: none;
   border: 1px solid blue;
   vertical-align: top;
   padding-left: 0;
   height: 200px;
   overflow: scroll;
   width: 100%;
 }
 .multi_level_select_box li {
   border: 1px solid gray;
   list-style: none;
 }
 .multi_level_select_box li:hover {
   background-color: blue;
   cursor: pointer;
 }
 .hide {
   display: none;
 }
 .show {
   display: show;
 }
 /*水平翻转*/
 .flipx {
   transform: rotate(180deg);
 }
